 h2.loader,
 h3.loader,
 h4.loader,
 h5.loader,
 h6.loader{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: transparent;
  letter-spacing: 0.01em;
 }

 .loader span{
  text-shadow: 0 0 0px #ff9800, 1px 1px 5px rgb(36, 36, 36);
  animation: loading 0.85s ease-in-out infinite alternate;
 }

 @keyframes loading {
  to {text-shadow: 30px 0 100px #ff0000;}
 }
 .loader span:nth-child(2){
  animation-delay:0.15s;
 }
 .loader span:nth-child(3){
  animation-delay:0.30s;
 }
 .loader span:nth-child(4){
  animation-delay:0.45s;
 }
 .loader span:nth-child(5){
  animation-delay:0.60s;
 }
 .loader span:nth-child(6){
  animation-delay:0.75s;
 }
 .loader span:nth-child(7){
  animation-delay:0.90s;
 }
