<div class="body">
  <div class="container">
    <br><br>
    <h1>&nbsp;</h1>
    <h2 class="header center loader">
      <span>Ч</span>
      <span>Е</span>
      <span>М</span>
      <span>П</span>
      <span>И</span>
      <span>О</span>
      <span>Н</span>
    </h2>
    <h3>&nbsp;</h3>
    <h2>&nbsp;</h2>
    <div class="row center">
      <a routerLink="/home" class="waves-effect waves-light btn-flat opa orange-text text-lighten-2">Тренажёрный зал</a>
    </div>
    <div class="row center">
      <a routerLink="/order" class="waves-effect waves-light btn-flat opa orange-text text-lighten-2">Спортивное
        питание</a>
    </div>
    <br><br>
  </div>