<form [formGroup]="form">
  <div class="modal" #modal [style.width.px]="width">
    <div class="modal-content">
      <h5 class="mb1">Добавить поставку</h5>

      <div class="row">
        <div class="input-field col s5 m2">
          <input formControlName="order" id="order" type="number" maxlength="9">
          <label for="order">Заказ №</label>
        </div>

        <div class="input-field col s7 m4 offset-m6">
          <input formControlName="waybill" id="waybill" type="text" maxlength="15"
            [ngClass]="{'invalid': form.get('waybill').invalid && form.get('waybill').touched}">
          <label for="waybill">Накладная №</label>
          <span *ngIf="form.controls.waybill.invalid && (form.controls.waybill.touched || form.controls.waybill.dirty)"
            class="helper-text red-text">Заполните позицию.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12 m6 l4">
          <input formControlName="shop" id="shop" type="text" maxlength="15"
            [ngClass]="{'invalid': form.get('shop').invalid && form.get('shop').touched}">
          <label for="shop">Отправитель</label>
          <span *ngIf="form.controls.shop.invalid && form.controls.shop.touched" class="helper-text red-text">Заполните
            позицию.
          </span>
        </div>

        <div class="input-field col s12 m6 l4">
          <input formControlName="shopBuyer" id="shopBuyer" type="text" maxlength="15"
            [ngClass]="{'invalid': form.get('shopBuyer').invalid && form.get('shopBuyer').touched}">
          <label for="shopBuyer">Получатель</label>
          <span *ngIf="form.controls.shopBuyer.invalid && form.controls.shopBuyer.touched"
            class="helper-text red-text">Заполните позицию.
          </span>
        </div>

        <div class="input-field col s6 m6 l2">
          <input formControlName="train" id="train" type="text" maxlength="15"
            [ngClass]="{'invalid': form.get('train').invalid && form.get('train').touched}">
          <label for="train">Транспорт</label>
          <span *ngIf="form.controls.train.invalid && form.controls.train.touched"
            class="helper-text red-text">Заполните позицию.
          </span>
        </div>

        <div class="input-field col s6 m6 l2">
          <input formControlName="imageSrc" id="imageSrc" type="text">
          <label for="imageSrc">Фото</label>
        </div>
      </div>

      <app-invoice-positions *ngIf="deliveryOrder?._id" [(list)]="list" (updateSave)="updateButton($event)">
      </app-invoice-positions>

    </div>
    <div></div>
    <div class="modal-footer">
      <button type="button" (click)="onCancel()" class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled">Отмена</button>
      <button (click)="submit()" class="modal-action btn waves-effect" type="submit"
        [disabled]="form.invalid || form.disabled || formSave">Сохранить</button>
    </div>
    <div class="load-center" *ngIf="loader">
      <app-loader></app-loader>
    </div>
  </div>
</form>
