<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h5 class="header center teal-text text-lighten-2">КЛУБ</h5>
      <h3 class="header center teal-text text-lighten-2">ЧЕМПИОН</h3>
      <div class="row center">
        <h6 class="header col s12 teal-text text-lighten-3">Готов изменить своё телосложение?</h6>
        <h4 class="header col s12 teal-text text-lighten-3">Сила в человеке</h4>
      </div>
      <div class="row center">
        <a routerLink="/login" id="download-button" class="btn waves-effect waves-light teal lighten-1">Присоединяйся к
          движению</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax" #parallax1><img src="/assets/images/bun01-600x285.jpg" alt="bunner"></div>
</div>

<div class="blue-grey lighten-3">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Прогрессивные тренировки</h5>

          <p class="light">Разработаны и с успехом применяются различные схемы тренинга, Рассчитанные на взрывной
            прирост мышечной массы и силы.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Ориентация на индивидуальный подход</h5>

          <p class="light">Используя элементы и принципы Силовых тренировок в Пауэрлифтинге, мы смогли создать
            структуру, которая включает в себя компоненты и анимацию, которые обеспечивают большую обратную связь с
            пользователями. Кроме того, единственная базовая реагирующая система на всех платформах обеспечивает более
            унифицированный пользовательский интерфейс.
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Легко работать</h5>

          <p class="light">Мы предоставили подробную документацию, а также конкретные примеры кода, чтобы помочь новым
            пользователям начать работу. Мы также всегда открыты для обратной связи и можем ответить на любые вопросы,
            которые могут возникнуть у пользователя по поводу Материализации.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 teal-text text-lighten-3">Не трать время, прогрессируй каждый день</h5>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax2><img src="/assets/images/bun04-600x338.jpg" alt="bunner"></div>
</div>

<div class="blue-grey lighten-3">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget,
          bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet
          semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim
          mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 teal-text text-lighten-3">Для силы и здоровья много не надо</h5>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax3><img src="/assets/images/bun08-600x193.jpg" alt="bunner"></div>
</div>

<footer class="page-footer grey darken-4">
  <div class="section">
    <div class="row">
      <div class="green-footer">
        <div class="col m4 s12 green lighten-1 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-1">
            <span class="white-text"><i class="small material-icons right">phone</i></span>
          </div>
          <h6 class="white-text">БЫСТРЫЙ КОНТАКТ</h6>
          <a class="btn-flat grey-text text-darken-4" href="tel:+380664077195">+38 066 407 7195</a>
        </div>
        <div class="col m4 s12 green lighten-2 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-2">
            <span class="white-text"><i class="small material-icons right">date_range</i></span>
          </div>
          <h6 class="white-text">25 апреля 2020</h6>
          <p>ПРЕДСТОЯЩИЕ СОБЫТИЯ</p>
        </div>
        <div class="col m4 s12 green lighten-1 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-1">
            <span class="white-text"><i class="small material-icons right">thumb_up_alt</i></span>
          </div>
          <h6 class="white-text">ДИСКОНТ</h6>
          <p>30% НА ПЕРВЫЙ МЕСЯЦ</p>
        </div>
      </div>

      <div class="grey darken-4">
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">ПОСЛЕДНИЕ ПОСТЫ</h6>
          <div class="divider grey darken-1"></div>
          <div class="footer-posts">
            <p>Выбирайте и заказывайте спортивное питание<br>
              <span>20.02.2020 </span>
              <span class="footer-post-author">От администратора</span>
            </p>
          </div>
          <div class="footer-posts">
            <p>Зал закрыт на карантин<br>
              <span>23.03.2020 </span>
              <span class="footer-post-author">От администратора</span>
            </p>
          </div>
        </div>
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">ЧАСЫ РАБОТЫ</h6>
          <div class="divider grey darken-1"></div>
          <table>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Понедельник - четверг</td>
              <td>08.00 - 22.00</td>
            </tr>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Пятница</td>
              <td>08.00 - 22.30</td>
            </tr>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Суббота</td>
              <td>06.00 - 23.00</td>
            </tr>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Воскресенье</td>
              <td>08.00 - 21.00</td>
            </tr>
          </table>
        </div>
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">КОНТАКТЫ</h6>
          <div class="divider grey darken-1"></div>
          <p>34, пр. Соборный, Запорожье</p>
          <p>Email: info@fitnessexample.com</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <a class="btn-flat brown-text text-lighten-3"
        href="mailto:iliya.pavlov1109@gmail.com?subject=web app fitness-club"
        title="Задавайте вопросы по электронной почте"><i class="small material-icons left">copyright</i>2020 made by
        meweryk</a>
    </div>
  </div>
</footer>
