<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <br><br>
    </div>
  </div>
  <div class="parallax" #parallax1><img src="/assets/images/bun10-1200x800.jpg" alt="bunner"></div>
</div>

<div class="indigo lighten-4">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text"><i class="material-icons">flash_on</i></h4>
          <h5 class="center">Прогрессивные тренировки</h5>
          <p class="light">Разработаны и с успехом применяются различные схемы тренинга, Рассчитанные на взрывной
            прирост мышечной массы и силы. Тренинг в нашем клубе основан на елементах научных исследований и
            индивидуальном подходе.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text"><i class="material-icons">group</i></h4>
          <h5 class="center">Ориентация на индивидуальный подход</h5>
          <p class="light">Используя элементы и принципы Силовых тренировок в Пауэрлифтинге, мы смогли создать
            структуру тренинга, которая не даст Вам шанса остаться прежним. К нам приходят за результатами!
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h4 class="center brown-text"><i class="material-icons">settings</i></h4>
          <h5 class="center">Легко работать</h5>
          <p class="light">Мы предоставили подробные программы по фитнессу, бодибилдингу, кроссфиту и поуэрлифтингу, а
            также личный кабинет с поддержкой тренера, сохранением результатов и аналитикой прогресса.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h6 class="header col s12 teal-text text-lighten-3 shadowtext">Не трать время, прогрессируй каждый день</h6>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax2><img src="/assets/images/bun04-600x338.jpg" alt="bunner"></div>
</div>

<div class="blue-grey lighten-1">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div class="icon-block white-text">
          <h4 class="center brown-text"><i></i></h4>
          <h5>Свяжись с нами</h5>
          <p class="left-align light">Гибкая система оплаты, посещение зала в удобное время, профессиональный
            подход,
            онлайн консультации по подготовке к соревнованиям по "пауэрлифтингу", видеогид по упражнениям, сопровождение
            по скайпу при удалённых тренировках, консультации по спортивному питанию, реабилитация после травм. Мы рады
            Вам
            - Вы благодарны нам.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h6 class="header col s12 teal-text text-lighten-3 shadowtext"> </h6>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax4><img src="/assets/images/bunGym00-750x127.jpg" alt="bunner"></div>
</div>

<div class="brown lighten-4">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m3">
        <div class="main-col brown lighten-3">
          <h5 class="brown-text">ТРЕНЕР</h5>
          <hr>
          <h6>ПАУЭРЛИФТИНГ</h6>
          <h6>БОДИБИЛДИНГ</h6>
          <h6>КРОССФИТ</h6>
        </div>
      </div>

      <div class="col s12 m3">
        <div class="">
          <div class="instructor-photo"></div>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="main-col">
          <h5 class="brown-text">СЕРГЕЙ ВЛАДИМИРОВИЧ ЧМАРАК</h5>
          <hr>
          <p>Персональный тренер спортивного клуба "ЧЕМПИОН". Мастер спорта международного класса. Абсолютный чемпион
            Украины 2017 года, федерации ДПФ, GPF, АВПЦ, УБФП,
            GPA. Подготовил чемпионку мира УБФП 2014 года и призеров Европы УБФП. Воспитал 4 МСМК и 17 МС.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h6 class="header col s12 teal-text text-lighten-3 shadowtext">Не откладывай на потом, приходи сегодня!</h6>
      </div>
    </div>
  </div>
  <div class="parallax" #parallax3><img src="/assets/images/bun08-600x193.jpg" alt="bunner"></div>
</div>

<footer class="page-footer grey darken-4">
  <div class="section">
    <div class="row">
      <div class="green-footer">
        <div class="col m4 s12 green lighten-1 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-1">
            <span class="white-text"><i class="small material-icons right">phone</i></span>
          </div>
          <h6 class="white-text">БЫСТРЫЙ КОНТАКТ</h6>
          <a class="btn-flat grey-text text-darken-4" href="tel:+380664077195">+38 066 407 7195</a>
        </div>
        <div class="col m4 s12 green lighten-2 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-2">
            <span class="white-text"><i class="small material-icons right">date_range</i></span>
          </div>
          <h6 class="white-text">{{today | date:'dd.MM.yyyy'}}</h6>
          <p>ПРЕДСТОЯЩИЕ СОБЫТИЯ</p>
        </div>
        <div class="col m4 s12 green lighten-1 grey-text text-darken-4 center">
          <div class="round-icon valign-wrapper green lighten-1">
            <span class="white-text"><i class="small material-icons right">thumb_up_alt</i></span>
          </div>
          <h6 class="white-text">ДИСКОНТ</h6>
          <p>30% НА ПЕРВЫЙ МЕСЯЦ</p>
        </div>
      </div>

      <div class="grey darken-4">
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">ПОСЛЕДНИЕ ПОСТЫ</h6>
          <div class="divider grey darken-1"></div>
          <div class="footer-posts">
            <p>Выбирайте и заказывайте спортивное питание<br>
              <span>20.02.2020 </span>
              <span class="footer-post-author">От администратора</span>
            </p>
          </div>
          <div class="footer-posts">
            <p>На период карантинных мероприятий вопросы по работе спортклуба задавайте по телефону.<br>
              <span>01.06.2020 </span>
              <span class="footer-post-author">От администратора</span>
            </p>
          </div>
        </div>
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">ЧАСЫ РАБОТЫ</h6>
          <div class="divider grey darken-1"></div>
          <table>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Понедельник - Пятница</td>
              <td>08.00 - 22.00</td>
            </tr>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Суббота</td>
              <td>09.00 - 22.00</td>
            </tr>
            <tr>
              <td><span><i class="small material-icons">access_time</i></span></td>
              <td>Воскресенье</td>
              <td>09.00 - 21.00</td>
            </tr>
          </table>
        </div>
        <div class="col s12 l4 grey-text text-darken-1">
          <h6 class="orange-text">КОНТАКТЫ</h6>
          <div class="divider grey darken-1"></div>
          <p>34, пр. Соборный, Запорожье<br>Email: info@fitnessexample.com</p>
          <div class="section">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2678.513811004084!2d35.15848551504497!3d47.82963858053789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dc676309317f49%3A0xf3bbddd3b298e18c!2z0YHQuiDQp9C10LzQv9C40L7QvQ!5e0!3m2!1sru!2sua!4v1592424650694!5m2!1sru!2sua"
              frameborder="0" style="margin-top: -20px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <a class="btn-flat brown-text text-lighten-3"
        href="mailto:iliya.pavlov1109@gmail.com?subject=web app fitness-club"
        title="Задавайте вопросы по электронной почте"><i class="small material-icons left">copyright</i>2020 made by
        meweryk</a>
    </div>
  </div>
</footer>
