<div class="row">
  <div class="col s12">
    <div class="table-container">
      <table class="highlight">
        <thead>
          <tr>
            <th>№</th>
            <th>Дата / Время</th>
            <th>Сумма<br>грн.</th>
            <th>Отправлен</th>
            <th>
              <div class="input-field order-position-input" style="cursor: pointer; width: 7rem;">
                <select #select [(ngModel)]="searchOrd">
                  <option value="" selected><span style="font-size: 14px;">Все</span>
                  </option>
                  <option [value]="shop"><span style="font-size: 14px">Закупки</span></option>
                  <option value="exportOrd"><span style="font-size: 14px">Продажи</span></option>
                </select>
              </div>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let order of gsorders | searchO: [searchOrd, shop]"
            [ngStyle]="{backgroundColor: shop === order.shopBuyer ? '#eaffd5b0' : 'none'}" [class.bold]="!order.view">
            <th>{{order.order}}</th>
            <td>{{order.date | date:'dd.MM.yyyy - HH:mm'}}</td>
            <td>{{computePrice(order)}}</td>
            <td>{{order.send | date: 'dd.MM - HH:mm'}}</td>
            <td>
              <button [style.color]="shop === order.shopBuyer ? 'lawngreen' : 'none'"
                class="btn btn-small grey darken-1" (click)="selectOrder(order)">
                <i class="material-icons">open_in_new</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal modal-fixed-footer" #modal>
  <div class="modal-content" *ngIf="selectedOrder">
    <h5 class="mb1 blue-grey-text text-darken-3">Заказ
      №{{selectedOrder.order}}&nbsp;<span
        style="font-size: 14px;">{{selectedOrder.date | date:'от dd.MM.yyyy - HH:mm'}}</span></h5>

    <ul class="row grey-text text-darken-1">
      <li class="valign-wrapper pb5">
        <span class="bold">Заказчик:</span>&nbsp;<span>{{selectedOrder.shopBuyer}} -
          {{selectedOrder.nicname}}</span>
      </li>
      <li class="valign-wrapper pb5" *ngIf="selectedOrder.view">
        <span class="bold">Просмотрен:</span>&nbsp;{{selectedOrder.view | date:' dd.MM.yy - HH:mm'}}
      </li>
      <li class="valign-wrapper pb5" *ngIf="selectedOrder.waybill">
        <span class="bold">Отправлен:</span>&nbsp;{{selectedOrder.send | date:' dd.MM.yy - HH:mm, '}}
      </li>
      <li class="valign-wrapper pb5" *ngIf="selectedOrder.waybill">
        <span class="bold">накладная:</span>&nbsp;&#8470;{{selectedOrder.waybill}}
      </li>
      <li class="valign-wrapper pb5" *ngIf="selectedOrder.got">
        <span class="bold">Получен:</span>&nbsp;{{selectedOrder.got | date:' dd.MM.yy - HH:mm'}}
      </li>
    </ul>

    <div class="table-container">
      <table class="highlight">
        <thead>
          <tr>
            <th>Вид</th>
            <th>Кол-тво</th>
            <th>Цена<br>грн.</th>
            <th>Поставщик</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of selectedOrder.list">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}&nbsp;{{item.rank}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.shopSeller}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul class="row grey-text text-darken-1">
      <li class="valign-wrapper pb5"><i class="material-icons">score</i>&nbsp;<span>Общее
          количество &nbsp;<strong>{{computeWeight(selectedOrder)}}</strong></span>
      </li>
      <li class="valign-wrapper pb5"><i class="material-icons">monetization_on</i>&nbsp;<span>Общая
          стоимость &nbsp;<strong>{{computePrice(selectedOrder)}}&nbsp;</strong>грн.</span>
      </li>
      <li *ngIf="selectedOrder.comment" class="valign-wrapper pb5"><i
          class="material-icons">mode_edit</i>&nbsp;<span>Комментарий: &nbsp;{{selectedOrder.comment}}.</span>
      </li>
      <hr>
      <li *ngIf="phone" class="valign-wrapper pb5"><i class="material-icons">phone</i>&nbsp;<span><a class="pulse"
            href="tel: {{phone}}">
            Позвонить
          </a></span>
      </li>
      <li *ngIf="email" class="valign-wrapper pb5"><i class="material-icons">email</i>&nbsp;<span><a class="pulse"
            href="mailto:{{email}}?subject=по заказу {{selectedOrder.order}} от {{selectedOrder.date | date:'dd.MM.yyyy'}}">
            Отправить письмо
          </a></span>
      </li>
    </ul>
  </div>

  <div class="modal-footer" *ngIf="selectedOrder">
    <button class="modal-action waves-effect waves-black btn-flat" [disabled]="!selectedOrder.send">Просмотр</button>
    <button class="modal-action waves-effect waves-black btn-flat" [disabled]="workOrder || selectedOrder.send"
      (click)="addDelivery()">Обработать</button>
    <button class="modal-action waves-effect waves-black btn-flat" (click)="closeModal()">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
