/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

/*spinner for submit button*/
.load-center {
  margin-top: -66px;
  justify-content: center;
}

/*for form registration and login*/
.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px
}

.card-login {
  width: 350px;
  background-color: #fff4e6cc;
}

.card .card-action.card-act-op {
  background-color: #fff4e638;
}
/*--------------------------------*/

.transcol {
  background-color: #1f2b31b3;
}
nav ul a,
nav .brand-logo {
  color: #ff9800;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ff9800;
}

.shadowtext {
  text-shadow: 1px 1px 2px black, 1px 1px 4px #fff3e0; /* Параметры тени */
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: blink;
 }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.green-footer {
  margin-top: -35px;
}

.green-footer .col {
  min-height: 120px;
  padding-top: 0px;
}

.green-footer .col p,
.green-footer .col a {
  font-size: 15px;
  font-weight: bold;
}

.green-footer h6 {
  font-size: 20px;
  margin-top: -20px;
  line-height: 0;
}

.round-icon {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: relative;
  top: -30px;
  margin: 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-posts span {
  color: #b3b3b3;
}

.footer-post-author {
  color: #63AD5A !important;
}

footer table td span {
  color: #6ABD62;
  font-size: 18px;
}

footer table tr td {
  padding: 15px;
}

footer table tr td:last-child {
  text-align: right;
}

footer table tr td:first-child {
  padding: 0;
}

footer table {
  width: 100%;
}

footer tr {
  border-bottom: 1px solid rgb(92, 92, 92);
}

footer tr:last-child {
  border-bottom: none;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
}
