/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

/*spinner for submit button*/
.load-center {
  margin-top: -66px;
  justify-content: center;
}

/*for form registration and login*/
.auth-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px
}

.card-login {
  width: 350px;
  background-color: #fff4e6cc;
}

.card .card-action.card-act-op {
  background-color: #fff4e638;
}

/*page content*/
.page-content {
  padding: 0 20px;
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0
}

.page-title a {
  color: #dfdfdf;
  opacity: .8
}

.page-title h3,
.page-title h4 {
  margin: 0;
  font-size: 2.3rem
}

.page-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0
}

.transcol {
  background-color: #1f2b31b3;
}
nav ul a,
nav .brand-logo {
  color: #ff9800;
}

nav ul li.active {
  background-color: rgba(48, 22, 0, 0.5);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ff9800;
}

.shadowtext {
  text-shadow: 1px 1px 2px black, 1px 1px 4px #fff3e0; /* Параметры тени */
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: blink;
 }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.green-footer {
  margin-top: -35px;
}

.green-footer .col {
  min-height: 120px;
  padding-top: 0px;
}

.green-footer .col p,
.green-footer .col a {
  font-size: 15px;
  font-weight: bold;
}

.green-footer h6 {
  font-size: 20px;
  margin-top: -20px;
  line-height: 0;
}

.round-icon {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: relative;
  top: -30px;
  margin: 0 auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.footer-posts span {
  color: #b3b3b3;
}

.footer-post-author {
  color: #63AD5A !important;
}

footer table td span {
  color: #6ABD62;
  font-size: 18px;
}

footer table tr td {
  padding: 15px;
}

footer table tr td:last-child {
  text-align: right;
}

footer table tr td:first-child {
  padding: 0;
}

footer table {
  width: 100%;
}

footer tr {
  border-bottom: 1px solid rgb(92, 92, 92);
}

footer tr:last-child {
  border-bottom: none;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
}

/*table*/
div.table-container {
  max-height: 800px;
  overflow: scroll;
  margin: -10px;
}

table {
  border-collapse: collapse;
}

tbody th,
tbody td {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  padding: 0.4em;
  border-bottom: 1px solid rgb(168, 168, 168);
  color: rgb(65, 65, 95);
  transition: .3s linear;
}

thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  padding: 0.7em;
  z-index: 200;
  background: rgba(161, 136, 127, 0.95);
  color: #FFF;
}
tbody th {
  background: rgba(255, 224, 178, 0.85);
  border-right: 0px solid #CCC;
  left: 0;
}

tbody td {
  background: rgba(255, 224, 178, 0.9);
  border: 1px solid rgb(168, 168, 168);
}


/*ScrollBar*/
::-webkit-scrollbar:horizontal,
::-webkit-scrollbar {
  width: 5px;
  height: 9px;
  border-radius: 5px;
  background-color: #dadadabe;
}

::-webkit-scrollbar-corner {
  color: transparent
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #4db6ac85;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.collection-item-icon {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10
}

.collection-item-icon i.material-icons:hover {
  color: #f44336 !important;
  transition: .3s color
}

/*Отступы*/
.pl2 {
  padding-left: 20px !important
}

.margin-large-left {
  margin-left: 20%;
}
