.card-position {
  background-color: #fff4e6cc;
}

.card-act-op {
  background-color: #fff4e638;
}

.dn {
  display: none;
}

.h120 {
  height: 120px;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  margin: 0px;
}

.h30 {
  height: 30px;
  margin: -5px;
}
