<div class="page-content">
  <div class="page-title">
    <h5 class="brown-text text-lighten-5">
      <a routerLink="/gallery">Галерея</a>
      <i class="tiny material-icons">keyboard_arrow_right</i>
      {{name}}<span style="font-size: 1.2rem;" *ngIf="description">: {{description}}</span>
    </h5>

    <span *ngIf="trainer">
      <button class="btn btn-small orange darken-4 m03" (click)="deleteAlbum()">
        <i class="material-icons">delete</i>
      </button>

      <button class="waves-effect waves-light btn-small m03" (click)="onAddPhoto()"><i
          class="material-icons">add</i></button>
    </span>
  </div>

  <!-- Image Upload -->
  <form (ngSubmit)="onSubmit()">
    <div class="modal card-position" #modal>
      <div class="modal-content">
        <h4 class="mb1">Загрузка фото</h4>

        <div class="col s12 center">
          <img class="responsive-img h120" [src]="imagePreview" *ngIf="imagePreview">
        </div>

        <div class="input-field col s12 center">
          <input id="imageSrc" name="imageSrc" class="dn" type="file" #input (change)="onFileUpload($event)">

          <button (click)="triggerClick()" type="button"
            class="waves-effect waves-light btn-small orange lighten-2 brown-text text-lighten-1">
            <i class="material-icons left">backup</i>
            Загрузить изображение
          </button>
        </div>

        <div class="modal-footer card-act-op">
          <button type="button" (click)="onCancel()"
            class="modal-action waves-effect waves-black btn-flat">Отмена</button>
          <button class="modal-action btn waves-effect" type="submit">Сохранить</button>
        </div>

      </div>

    </div>
  </form>


  <div class="row" [style.maxHeight.px]="height" *ngIf="!loading; else loader">

    <div class="col s12 m4 l3 center " *ngFor=" let picture of pictures">
      <div class="card pointer h150 hoverable" (click)="showPicture(picture)">
        <!--<a class="hovergallery card-image waves-effect waves-block waves-light" [href]="picture.url">-->
        <div class="hovergallery card-image waves-effect waves-block waves-light">
          <img [src]="picture.picture" class="contain">

        </div>
        <a *ngIf="trainer" class="btn-floating halfway-fab waves-effect waves-light orange darken-4 btn-small"
          (click)="deletePicture($event, picture.id)">
          <i class="material-icons">delete_forever</i>
        </a>
      </div>
    </div>

  </div>

  <div class="modal" #show>
    <img [src]="imageToShow" class="responsive-img">
  </div>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>

</div>
