.card-position {
  background-color: #fff4e6cc;
}

.card-act-op {
  background-color: #fff4e638;
}

.dn {
  display: none;
}

.h150 {
  height: 150px;
  border: 2px solid #ef6c00 ;
  border-radius: 3px;
  margin: 0px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */
}

.h30 {
  height: 30px;
  margin: -5px;
}

.contain {
  object-fit: contain;
  height: 146px;
  border-radius: 3px;
}

.hovergallery img {
  transform:scale(1.0); /*масштабирование*/
  transition-duration: 0.3s; /*длительность анимации*/
  opacity: 0.9; /*Начальная прозрачность изображений*/
  /*margin: 0 10px 5px 0; /*Интервалы между изображениями*/
  }

  .hovergallery img:hover{
  transform:scale(1.1);
  opacity: 1;
  }
